ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #00000000;
 }
 
 li {
   float: left;
 }
 
 li a {
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 li a:hover:not(.active) {
   background-color: #00000000;
 }
 
 .active {
   background-color: #00000000;
 }
