html, body {
  max-width: 100%;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  background-image: url(https://c.tenor.com/80SYQns-DF8AAAAd/stare-cat.gif);
}
div{
  overflow-x: hidden;
}
img{
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.column {
  float: left;
  width: 12.5%;
  padding: 5px;
}
.container{
  overflow: hidden;
}

.filterDiv {
   width: 260px;
 height: 350px;
 background-color: #1a1a1a;
 border-radius: 20px;
  float: left;
  margin: 12px;
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}


a{
  font-family: 'Roboto Mono';
  font-size: 20px;
}

h4{
  font-family: 'Roboto Mono';
  font-size: 15px;
  color:white;
  text-align: center;
  line-height: 5px;

}

h5{
  font-family: 'Roboto Mono';
  font-size: 10px;
  color:white;
  text-align: center;
}

h1{
  font-family: 'Roboto Mono';
  font-size: 50px;
}
.equations {
 height: 120px;	
 overflow: hidden;
 position: relative;
}
.equations h3{
  font-family: 'Roboto Mono';
font-size: 30px;
color:white;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(-100%);
 -webkit-transform:translateX(-100%);	
 transform:translateX(-100%);
 /* Apply animation to this element */	
 -moz-animation: equations 5s linear infinite;
 -webkit-animation: equations 5s linear infinite;
 animation: equations 5s linear infinite;
}
@-moz-keyframes equations {
 0%   { -moz-transform: translateX(-100%); }
 100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes equations {
 0%   { -webkit-transform: translateX(-100%); }
 100% { -webkit-transform: translateX(100%); }
}
@keyframes equations {
 0%   { 
 -moz-transform: translateX(-100%); 
 -webkit-transform: translateX(-100%); 
 transform: translateX(-100%); 		
 }
 100% { 
 -moz-transform: translateX(100%); 
 -webkit-transform: translateX(100%); 
 transform: translateX(100%); 
 }
}


.equations1 {
  height: 120px;	
  overflow: hidden;
  position: relative;
 }
.equations1 h3{
font-family: 'Roboto Mono';
font-size: 30px;
color:white;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: equations1 5s linear infinite;
 -webkit-animation: equations1 5s linear infinite;
 animation: equations1 5s linear infinite;
}
@-moz-keyframes equations1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes equations1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes equations1 {
 0%   { 
 -moz-transform: translateX(100%); 
 -webkit-transform: translateX(100%); 
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); 
 -webkit-transform: translateX(-100%); 
 transform: translateX(-100%); 
 }
}

.card {
 width: 260px;
 height: 350px;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
}

.card2 {
  
 width: 260px;
 height: 350px;
 background-color: #1a1a1a;
 border-radius: 20px;
 transition: all .2s;
}

.card2:hover {
 transform: scale(0.98);
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
.myDIV{
  text-align: center;
  margin: 0px;
  display:inline-block;
  position:relative;
  padding:0px;
  border:0px;
}
.myDIV:hover + .hide {
  display: block;
  font-family: 'Roboto Mono';
  font-size: 10px;
  color:white;
  text-align: center;
}

.popup {
    background-color: black;
    z-index: 99 !important;
    width: 420px;
    padding: 30px 40px;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Roboto Mono",sans-serif;
    display: none; 
    text-align: center;
}
.popup h1 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto Mono';
    color:#fff;
}
.popup h2 {
  text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto Mono';
    color:#fff;
}
.popup .close {
    position: sticky;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.popup .close:hover {
    color:black;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.tablecenter{
  margin-left: 40%;
}